swagger: "2.0"
host: p1payapi.tst.protocol.one
info:
  description: 
  title: 
  version: "1.0"

definitions:
  payment_method.PostProductMethod:
    properties:
      name:
        description: Name of method
        type: string
      group_alias:
        description: Name of group for currency type
        type: string
      external_id:
        description: External id
        type: string
      currencies:
        description: List of currency int codes
        type: array
        items:
          type: integer
      min_payment_amount:
        description: Minimal payment amount
        type: integer
      max_payment_amount:
        description: Maximum payment amount
        type: integer
      type:
        description: Type of payment method
        type: string
      account_regexp:
        description: Regular expression for validation
        type: string
      is_active:
        description: Active or not
        type: boolean
      payment_system_id:
        description: Payment system identifier
        type: string
      test_settings:
        description: List of test settings
        type: array
        items:
          type: object
          $ref: '#/definitions/payment_method.PaymentMethodParams'
      production_settings:
        description: List of production settings
        type: array
        items:
          type: object
          $ref: '#/definitions/payment_method.PaymentMethodParams'
    type: object
    required:
      - name
      - external_id
      - payment_system_id
  payment_method.PaymentMethodParams:
    properties:
      currency:
        type: string
      terminal_id:
        type: string
      secret:
        type: string
      secret_callback:
        type: string
    type: object
    required:
      - currency
  payment_method.ChangePaymentMethodResponse:
    properties:
      status:
        description: status as result of operation
        type: integer
      message:
        description: string description for error message
        type: string
    required:
      - status
  payment_method.PutProductMethod:
    properties:
      id:
        description: Payment method identifier
        type: string
      name:
        description: Name of method
        type: string
      group_alias:
        description: Name of group for currency type
        type: string
      external_id:
        description: External id
        type: string
      currencies:
        description: List of currency int codes
        type: array
        items:
          type: integer
      min_payment_amount:
        description: Minimal payment amount
        type: integer
      max_payment_amount:
        description: Maximum payment amount
        type: integer
      type:
        description: Type of payment method
        type: string
      account_regexp:
        description: Regular expression for validation
        type: string
      is_active:
        description: Active or not
        type: boolean
      payment_system_id:
        description: Payment system identifier
        type: string
      test_settings:
        description: List of test settings
        type: array
        items:
          type: object
          $ref: '#/definitions/payment_method.PaymentMethodParams'
      production_settings:
        description: List of production settings
        type: array
        items:
          type: object
          $ref: '#/definitions/payment_method.PaymentMethodParams'
    type: object
    required:
      - id
      - name
      - external_id
      - payment_system_id
  payment_method.UpdatePaymentMethodParams:
    properties:
      id:
        description: Payment method identifier
        type: string
      payment_system_id:
        description: Payment system identifier
        type: string
      params:
        description: List of settings
        type: object
        $ref: '#/definitions/payment_method.PaymentMethodParams'
    type: object
    required:
      - id
      - payment_system_id
      - params
  payment_method.ChangePaymentMethodParamsResponse:
    properties:
      status:
        description: status as result of operation
        type: integer
      message:
        description: string description for error message
        type: string
    required:
      - status
  
securityDefinitions:
  XAPISignatureHeader:
    type: apiKey
    in: header
    name: X-API-SIGNATURE
    description: must contain sha512 hash of concationation request body and project secret key

paths:
  /api/v1/s/payment_method:
    post:
      consumes:
        - application/json
      description: Create a payment method for payment system
      parameters:
        - description: product method properties
          in: body
          name: body
          schema:
            $ref: '#/definitions/payment_method.PostProductMethod'
            type: object
      produces:
        - text/html
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/payment_method.ChangePaymentMethodResponse'
            type: array
        "400":
          description: Error description
          schema:
            type: string
      summary: Create a payment method for payment system
      tags:
        - Payment Method
  /api/v1/s/payment_method/{id}:
    put:
      consumes:
        - application/json
      description: Update a payment method for payment system
      parameters:
        - description: paymentmethod identifier
          in: path
          name: id
          required: true
          type: string
        - description: product method properties
          in: body
          name: body
          schema:
            $ref: '#/definitions/payment_method.PutProductMethod'
            type: object
      produces:
        - text/html
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/payment_method.ChangePaymentMethodResponse'
            type: array
        "400":
          description: Error description
          schema:
            type: string
      summary: Update a payment method for payment system
      tags:
        - Payment Method
  /api/v1/s/payment_method/{id}/production:
    post:
      consumes:
        - application/json
      description: Add production settings to the payment method
      parameters:
        - description: paymentmethod identifier
          in: path
          name: id
          required: true
          type: string
        - description: payment method params
          in: body
          name: body
          schema:
            $ref: '#/definitions/payment_method.UpdatePaymentMethodParams'
            type: object
      produces:
        - text/html
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/payment_method.ChangePaymentMethodParamsResponse'
            type: array
        "400":
          description: Error description
          schema:
            type: string
      summary: Add production settings to the payment method
      tags:
        - Payment Method
    put:
      consumes:
        - application/json
      description: Update production settings to the payment method
      parameters:
        - description: payment method identifier
          in: path
          name: id
          required: true
          type: string
        - description: payment method params
          in: body
          name: body
          schema:
            $ref: '#/definitions/payment_method.UpdatePaymentMethodParams'
            type: object
      produces:
        - text/html
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/payment_method.ChangePaymentMethodParamsResponse'
            type: array
        "400":
          description: Error description
          schema:
            type: string
      summary: Update production settings to the payment method
      tags:
        - Payment Method
    get:
      consumes:
        - application/json
      description: Get production settings to the payment method
      parameters:
        - description: payment method identifier
          in: path
          name: id
          type: string
          required: true
      produces:
        - text/html
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/payment_method.PaymentMethodParams'
            type: array
        "400":
          description: Error description
          schema:
            type: string
      summary: Get production settings to the payment method
      tags:
        - Payment Method
    delete:
      consumes:
        - application/json
      description: Delete production settings to the payment method
      parameters:
        - description: payment method identifier
          in: path
          name: id
          type: string
          required: true
        - description: code of currency
          in: query
          name: currency_a3
          type: string
          required: true
      produces:
        - text/html
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/payment_method.ChangePaymentMethodParamsResponse'
            type: array
        "400":
          description: Error description
          schema:
            type: string
      summary: Delete production settings to the payment method
      tags:
        - Payment Method
  /api/v1/s/payment_method/{id}/test:
    post:
      consumes:
        - application/json
      description: Add test settings to the payment method
      parameters:
        - description: paymentmethod identifier
          in: path
          name: id
          required: true
          type: string
        - description: payment method params
          in: body
          name: body
          schema:
            $ref: '#/definitions/payment_method.UpdatePaymentMethodParams'
            type: object
      produces:
        - text/html
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/payment_method.ChangePaymentMethodParamsResponse'
            type: array
        "400":
          description: Error description
          schema:
            type: string
      summary: Add test settings to the payment method
      tags:
        - Payment Method
    put:
      consumes:
        - application/json
      description: Update test settings to the payment method
      parameters:
        - description: paymentmethod identifier
          in: path
          name: id
          required: true
          type: string
        - description: payment method params
          in: body
          name: body
          schema:
            $ref: '#/definitions/payment_method.UpdatePaymentMethodParams'
            type: object
      produces:
        - text/html
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/payment_method.ChangePaymentMethodParamsResponse'
            type: array
        "400":
          description: Error description
          schema:
            type: string
      summary: Update test settings to the payment method
      tags:
        - Payment Method
    get:
      consumes:
        - application/json
      description: Get test settings to the payment method
      parameters:
        - description: payment method identifier
          in: path
          name: id
          type: string
          required: true
      produces:
        - text/html
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/payment_method.PaymentMethodParams'
            type: array
        "400":
          description: Error description
          schema:
            type: string
      summary: Get test settings to the payment method
      tags:
        - Payment Method
    delete:
      consumes:
        - application/json
      description: Delete test settings to the payment method
      parameters:
        - description: payment method identifier
          in: path
          name: id
          type: string
          required: true
        - description: code of currency
          in: query
          name: currency_a3
          type: string
          required: true
      produces:
        - text/html
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/payment_method.ChangePaymentMethodParamsResponse'
            type: array
        "400":
          description: Error description
          schema:
            type: string
      summary: Delete test settings to the payment method
      tags:
        - Payment Method
