swagger: "2.0"
host: p1payapi.tst.protocol.one
info:
  description: 
  title: 
  version: "1.0"

securityDefinitions:
  XAPISignatureHeader:
    type: apiKey
    in: header
    name: X-API-SIGNATURE
    description: must contain sha512 hash of concationation request body and project secret key

paths:
  /api/v1/s/report_file:
    post:
      summary: Create report file
      tags:
        - Report
      consumes:
        - application/json
      produces:
        - application/json
      description: Create report file
      parameters:
        - description: report file params
          in: body
          name: body
          schema:
            $ref: '#/definitions/report_file.CreateReportFileParams'
            type: object
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/report_file.CreateReportFileResponse'
            type: object
        "400":
          description: Invalid request data
          schema:
            $ref: '#/definitions/model.Error'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/model.Error'
        "403":
          description: Access denied
          schema:
            $ref: '#/definitions/model.Error'
        "500":
          description: Some unknown error on server side
          schema:
            $ref: '#/definitions/model.Error'
  /api/v1/s/report_file/download/{file}:
    get:
      summary: Download report file
      tags:
        - Report
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/pdf
        - text/csv
        - application/vnd.openxmlformats-officedocument.spreadsheetml.sheet
      description: Download report file
      parameters:
        - description: filename
          in: path
          name: file
          type: string
          required: true
        - description: identity of file and file type
          in: query
          name: file
          type: string
          required: true
      responses:
        "200":
          description: OK
          schema:
            type: file
        "400":
          description: Invalid request data
          schema:
            $ref: '#/definitions/model.Error'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/model.Error'
        "403":
          description: Access denied
          schema:
            $ref: '#/definitions/model.Error'
        "500":
          description: Some unknown error on server side
          schema:
            $ref: '#/definitions/model.Error'
