swagger: "2.0"
host: p1payapi.tst.protocol.one
info:
  description:
  title: 
  version: "1.0"

securityDefinitions:
  XAPISignatureHeader:
    type: apiKey
    in: header
    name: X-API-SIGNATURE
    description: must contain sha512 hash of concationation request body and project secret key

definitions:
  token.TokenRequest:
    properties:
      user:
        description: object which contain any information about payer
        $ref: '#/definitions/token.TokenRequest.User'
      settings:
        description: object which contain information to process payment
        $ref: '#/definitions/token.TokenRequest.Settings'
    required:
      - user
      - settings
  token.TokenRequest.User:
    properties:
      id:
        description: user identifier in project
        type: string
      email:
        description: object which contain information about user email
        $ref: '#/definitions/token.TokenRequest.ValueVerified'
      phone:
        description: object which contain information about user phone
        $ref: '#/definitions/token.TokenRequest.ValueVerified'
      name:
        description: object which contain information about user real name
        $ref: '#/definitions/token.TokenRequest.Value'
      ip:
        description: object which contain information about user ip
        $ref: '#/definitions/token.TokenRequest.Value'
      locale:
        description: object which contain information about user locale. value in this object must contain 2 characters language code in lower registry by ISO 639-1
        $ref: '#/definitions/token.TokenRequest.Value'
      address:
        description: object which contain information about user address
        $ref: '#/definitions/order.BillingAddress'
      metadata:
        description: object can contain any other information about user. object must contain only string values.
        type: object
  order.BillingAddress:
    properties:
      country:
        description: 2 chars country code in upper registry by ISO 3166-1
        type: string
      city:
        description: city name
        type: string
      postal_code:
        description: zip code
        type: string
      state:
        description: state code by ISO 3166-2
        type: string
  token.TokenRequest.ValueVerified:
    properties:
      value:
        description: parameter value
        type: string
      verified:
        description: "is parameter was verified in project side. for example: user verify email"
        type: boolean
    required:
      - value
  token.TokenRequest.Value:
    properties:
      value:
        description: parameter value
        type: string
    required:
      - value
  token.TokenResponse:
    properties:
      token:
        description: payment token
        type: string
    required:
      - token
  model.Error:
    properties:
      message:
        description: |
          text error description
        type: string
      code:
        type: string
        description: error code
    type: object
  token.TokenRequest.Settings:
    properties:
      project_id:
        description: project identifier
        type: string
      return_url:
        description: object contain urls for redirect user after payment ended
        $ref: '#/definitions/token.TokenRequest.Settings.ReturnUrl'
      currency:
        description: 3 characters currency code in upper registry by ISO 4217
        type: string
      amount:
        description: payment amount. this field is required if project use simple checkout payment to process payments.
        type: number
      payment_method:
        description: predefined payment method identifier
        type: string
      items:
        description: object contain information about items which user want to buy. this field is required if project not use simple checkout payment to process payments.
        type: array
        items:
          $ref: '#/definitions/token.TokenRequest.Settings.Item'
      description:
        description: payment description
        type: string
      metadata:
        description: object can contain any other information about payment. object must contain only string values. this object will return in project notification about payment.
        type: object
    required:
      - project_id
  token.TokenRequest.Settings.ReturnUrl:
    properties:
      success:
        description: url to redirect user after payment was successfully completed
        type: string
      fail:
        description: url to redirect user after payment failed
        type: string
  token.TokenRequest.Settings.Item:
    properties:
      sku:
        description: sku identifier
        type: string
      amount:
        description: item price
        type: number
      currency:
        description: item price currency. 3 characters currency code in upper registry by ISO 4217
        type: string
    required:
      - sku
      - amount
      - currency

paths:
  /api/v1/tokens:
    post:
      security:
        - XAPISignatureHeader: []
      summary: Create token
      tags:
        - Token
      consumes:
        - application/json
      produces:
        - application/json
      description: Create token for process payment token create
      parameters:
        - description: Data to process payment
          in: body
          name: data
          schema:
            $ref: '#/definitions/token.TokenRequest'
            type: object
          required: true
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/token.TokenResponse'
        "400":
          description: Invalid request data
          schema:
            $ref: '#/definitions/model.Error'
        "404":
          description: Object not found
          schema:
            $ref: '#/definitions/model.Error'
        "500":
          description: Some unknown error on server side
          schema:
            $ref: '#/definitions/model.Error'
