<footer class="footer layout__footer" data-v-dfad4964 data-v-333f8b40>
    <div class="container" data-v-dfad4964 data-v-dfad4964>
        <div class="row align-items-center" data-v-dfad4964 data-v-dfad4964>
            <div class="col" data-v-dfad4964 data-v-dfad4964>
                <h5 class="mb-0 b-title b-title--white b-title--level-5" data-v-a0362e1e data-v-dfad4964><a href="/" aria-label="PaySuper" class="link link-main link--pay-super nuxt-link-exact-active nuxt-link-active" data-v-dfad4964>
            PaySuper
          </a></h5>
            </div>
            <div class="col" data-v-dfad4964 data-v-dfad4964>
                <ul class="policy-list" data-v-dfad4964>
                    <li class="policy-list__item" data-v-dfad4964><a href="/policy/cookie.pdf" target="_blank" class="policy-list__link" data-v-dfad4964>
              Cookie Policy
            </a></li>
                    <li class="policy-list__item" data-v-dfad4964><a href="/policy/eula.pdf" target="_blank" class="policy-list__link" data-v-dfad4964>
              EULA
            </a></li>
                    <li class="policy-list__item" data-v-dfad4964><a href="/policy/privacy.pdf" target="_blank" class="policy-list__link" data-v-dfad4964>
              Privacy Policy
            </a></li>
                    <li class="policy-list__item" data-v-dfad4964><a href="/policy/tou.pdf" target="_blank" class="policy-list__link" data-v-dfad4964>
              Terms of Use
            </a></li>
                </ul>
            </div>
        </div>
        <hr class="footer__divider" data-v-dfad4964>
        <div class="row" data-v-dfad4964 data-v-dfad4964>
            <div class="d-flex justify-content-between align-items-center col" data-v-dfad4964 data-v-dfad4964><small class="copyright" data-v-dfad4964>
          © 2019 <a href="/" aria-label="PaySuper" class="link-main nuxt-link-exact-active nuxt-link-active"
            data-v-dfad4964>PaySuper LTD</a></small>
                <address class="mb-0" data-v-dfad4964><a href="mailto:partners@super.com"
            aria-label="Email us at partners@super.com" class="lightgray" data-v-dfad4964>
            Email us at partners@super.com
          </a></address>
            </div>
        </div>
        <div class="row" data-v-dfad4964 data-v-dfad4964>
            <div class="d-flex justify-content-between align-items-center col" data-v-dfad4964 data-v-dfad4964>
                <address class="address" data-v-dfad4964>
          All rights reserved. 156A Burnt Oak Broadway, Edgware, Middlesex HA8 0AX UK
        </address>
            </div>
        </div>
    </div>
</footer>