{{ "## Questions?" | markdownify }}

<div class="book-columns flex flex-wrap">
{{ range split $.Inner "-*-" }}
<div class="flex-even markdown-inner">
    {{ . | markdownify }}
</div>
{{ end }}
</div>

{{ "***" | markdownify }}

{{ "## Not a developer?" | markdownify }}

{{ "Our engineers will help you [to integrate PaySuper Checkout](https://docs.google.com/forms/d/e/1FAIpQLScQPU83wKPkJeui_WvxGDoXWLDL4vyD8GsWNqf9-ccwDg3dEw/viewform) into your existing site or game in the best possible way." | markdownify }}